<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>823201330307-1jcs5uf9for6e79hlg10b4fd8tnm571j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823201330307-1jcs5uf9for6e79hlg10b4fd8tnm571j</string>
	<key>API_KEY</key>
	<string>AIzaSyAp-D-2R8ZG9pT5aiVQMBHMrp3ZeyLHsyM</string>
	<key>GCM_SENDER_ID</key>
	<string>823201330307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MADCrew.GitHub.Penguin</string>
	<key>PROJECT_ID</key>
	<string>github-penguin</string>
	<key>STORAGE_BUCKET</key>
	<string>github-penguin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:823201330307:ios:2904cf930044fbc0</string>
	<key>DATABASE_URL</key>
	<string>https://github-penguin.firebaseio.com</string>
</dict>
</plist>
